<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-4">
          <label class="control-label col-md-12">Resultados de la búsqueda para: {{searchString}}</label>
        </div>
        <div class="col-md-6"></div>
        <div class="col-md-2 pull-right">
          <button class="btn btn-primary" *ngIf="results && results.length>0" (click)="changeView()">Cambiar vista</button>
        </div>
      </div>
    </div>
    &nbsp;
    <div class="row" *ngIf="!gridView">
      <div class="col-md-6" *ngFor="let r of results">
        <card
          class="col-md-12" 
          [cardTitle]="r.businessname" 
          [cardSubtitle]="r.services"
          [isCollapse]=true>
          <div class="row">
            <div class="col-md-12">
              <span>
                <img class="col-md-2" src="https://images.unsplash.com/photo-1542080681-b52d382432af?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt=""
                    style="max-height: 200px; max-width: 100px;">
                <div class="col-md-10 pull-right">
                  {{r.businessdescription}}
                </div>
              </span>
            </div>
          </div>
          <div class="row">
              <div class="col-md-12">
                <div class="col-md-6"></div>
                <div class="col-md-6">
                  <b></b>
                </div>
              </div>
          </div>
          <div class="row">
            <div class="col-md-4 pull-right">
              <button type="button" class="btn btn-info" disabled>
                Contratar
                </button>

            </div>

          </div>
  
        </card>
        &nbsp;
        &nbsp;
        

      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <dx-data-grid *ngIf="gridView" [dataSource]="results">
            <dxo-filter-row 
                [visible]="true">
              </dxo-filter-row>
            <dxo-header-filter 
                [visible]="true"></dxo-header-filter>
            <dxo-search-panel 
                [visible]="true" 
                [width]="240"></dxo-search-panel>
            <dxi-column dataField="name"></dxi-column>
            <dxi-column dataField="businessname"></dxi-column>
            <dxi-column dataField="businessdescription"></dxi-column>
            <dxi-column dataField="services"></dxi-column>
            <dxi-column dataField="categories"></dxi-column>
        </dx-data-grid>
      </div>
    </div>
  </div>
</div>